/* min pixel 566 */


@media screen and (min-width: 640px){
    .sidebar{
        flex-basis: 300px;
    }

    .logo-small{
        display: none;
    }

    .none{
        display: block;
    }
    .width-100px{
        width: 190px;
    }
}

/* 870px */

@media screen and (min-width: 870px){
    .col{
        flex-basis: calc(100% / 4 - 10px);
    }
    .width-100px{
        width: 260px;
    }
}

/* min 1200 */
@media screen and (min-width: 1200px){
    .col{
        flex-basis: calc(100% / 6 - 10px);
    }
    .width-100px{
        width: 560px;
    }
}
