*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    color: white;
}
img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: #777;
}

/* generics */
.container-page{
    display: flex;
}

.sidebar{
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 100px);
    flex-basis: 80px;
    background-color: black;
}
.content{
    flex-basis: 100%;
    overflow: auto;
}

.container-main{
    height: calc(100vh - 200px);
    width: 100%;
}

footer{
    height: 100px;
    background-color: #282828;
}

ul{
    list-style-type: none;
}

h2{
    margin-bottom: 20px;
    margin-top: 40px;
}

h3{
    text-align: center;
    margin-top: 8px;
}

/* sidebar */
.img-sidebar{
    height: 30px;
}

.img-download{
    height: 20px;
}

.img-profile{
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
}

.profile{
    flex-grow: 1;
    justify-content: flex-end;
    flex-direction: column;
}

.fa-plus{
    background-color: #a3a3a3;
    padding: 10px;
}

.border-sidebar{
    border: 1px solid #777;
    margin-top: 15px;
    margin-right: 10px;
}


/* content */

/* header */
header{
    position: sticky;
    top: 0;
    right: 0;
    background-color: #090b12;
    height: 100px;

}

.header-hd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.a-header{
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
}

/* main */

main{
    background-color: #141922;
    padding: 10px;
}

.something{
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;
    font-size: 14px;
    font-weight: 600;
}

/* album */
.row{
    flex-wrap: wrap;
    gap: 10px;
}

.col{
    flex-basis: calc(100% / 2 - 10px);
}

/* footer */

.img-footer{
    height: 30px;
    width: 30px;
}

.row-footer{
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.col-footer{
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    gap: 40px;
    flex-basis: 30%;
}
.col-footer-right{
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    gap: 10px;
    flex-basis: 30%;
}
.col-footer-max{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}

.card-footer{
    display: flex;
    gap: 10px;
}
.img-name{
    display: flex;
    gap: 10px;
}

.input-songs{
    display: flex;
    justify-content: center;
}

.border-white{
    border: 2px solid white;
    width: 25px;
    height: 5px;
    border-radius: 10px 0 0 10px;
}

.border-lightgray{
    border: 2px solid lightgray;
    width: 60px;
    height: 5px;
    border-radius: 0 10px 10px 0;
}


/* utils */

.container-side-main{
    padding: 10px;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.gap-20{
    gap: 10px;
}

.logo-small{
    position: relative;
    top: 0;
    left: -8px;
    height: 35px;
    margin-top: 10px;
}

.logo-big{
    position: relative;
    top: 0;
    left: -16px;
    display: none;
    margin-top: 10px;
    height: 45px;
}

.subtitle{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.inline-block{
    display: inline-block;
}

.border{
    border: 1px solid white;
}

.txt-start{
    text-align: start;
}

.pd-left-10{
    padding-left: 10px;
}

.pd-right-10px{
    padding-right: 10px;
}

.m-t-15{
    margin-top: 15px;
}
.mg-t-20{
    margin-top: 30px;
}

.mg-b-0{
    margin-bottom: 0;
}

.mg-bottom-20{
    margin-bottom: 20px;
}

.mg-r-5{
    margin-right: 5px;
}

.mg-r-10{
    margin-right: 10px;
}

.mg-r-20{
    margin-right: 20px;
}

.mg-r-40{
    margin-right: 30px;
}

.mg-l-10{
    margin-left: 20px;
}


.color-white{
    color: white;
}
.color-777{
    color: #777;
}

.color-black{
    color: black;
}

.font-weight-bold{
    font-weight: bold;
}

.font-size-10{
    font-size: 10px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.width-100px{
    width: 100px;
}