*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}

/* generics */
.container-page{
    display: flex;
}

.sidebar{
    height: calc(100vh - 100px);
    flex-basis: 80px;
    background-color: black;
}
.content{
    flex-basis: 100%;
    overflow: auto;
}

.container-main{
    height: calc(100vh - 200px);
    width: 100%;
}

footer{
    height: 100px;
    background-color: #282828;
}

/* content */
header{
    position: fixed;
    top: 0;
    right: 15px;
    background-color: #090b12;
    height: 100px;
    width: calc(100vw - 80px);
}

main{
    background-color: #141922;
    padding: 10px;
    height: calc(100% + 100px);
}

