*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: inline-block;
    width: 100%;
}

/* generics */
.container-page{
    display: flex;
}

.sidebar{
    height: calc(100vh - 100px);
    flex-basis: 80px;
    background-color: black;
}
.content{
    flex-basis: 100%;
    overflow: auto;
}

.container-main{
    height: calc(100vh - 200px);
    width: 100%;
}

footer{
    height: 100px;
    background-color: #282828;
}

/* content */

/* header */
header{
    position: fixed;
    top: 0;
    right: 15px;
    background-color: #090b12;
    height: 100px;
    width: calc(100vw - 80px);
}

.header-hd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.a-header{
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
}

main{
    background-color: #141922;
    padding: 10px;
    height: calc(100% + 100px);
}

/* utils */
.logo{
    height: 35px;
    margin-top: 10px;
}

.img-sidebar{
    height: 30px;
    margin-top: 15px;
}

.border{
    border: 1px solid white;
}


.color-white{
    color: white;
}
.color-777{
    color: #777;
}
